*.o
*.mod
test_trexio
fort.*
*.Info
*.mono
INPORB
LOCOA
LOCORB
INPORB_trexio
MONO_trexio
info2trexio
trexio2info
trexio2inporb
locoa*
*.dat
script_entete.f90
INPORB.f90
INPORB_old.f90
locorb2trexio
locorb2trexio_avec_out_temp.f90
mo.txt
mo_orig.txt
out.h5
out_tmp
trexioMain
tst_locoa.f90
h2O.h5
INPORB_bis
INPORB_output.txt
coef_new.txt
