*.o
*.mod
test_trexio
trexio2info
*.Info
MONO_trexio
*.txt
info2trexio
trexio2info
INPORB*
trexio2inporb
MONO_trexio.f90
fort.*
*.dat
script_entete.f90
*.mono
trexio2mono

trexioMain
tst_locoa.f90
LOCOA
LOCORB
locoa2trexio
locorb2trexio
locorb2trexio_avec_out_temp.f90
locorb2trexio_save.f90
h2o_bis.h5
script_trexio.f90
