*.o
*.mod
test_trexio
trexio2info
*.Info
info2trexio
trexio2info
INPORB_trexio
INPORB.f90
INPORB
INPORB_old.f90
trexio2inporb
MONO_trexio
fort.*
MONO_trexio
*.dat
script_entete.f90
*.mono
trexio2mono
